<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783267665860-g4sv1l2vggpipoc3t42e86flhhg4k36g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783267665860-g4sv1l2vggpipoc3t42e86flhhg4k36g</string>
	<key>API_KEY</key>
	<string>AIzaSyBBaGCBBwZqJ8PmeGgfzJ9NCE7HWZOEjJU</string>
	<key>GCM_SENDER_ID</key>
	<string>783267665860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.busekeklik.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-768ec</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-768ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783267665860:ios:95d3d79af7914a7822b691</string>
</dict>
</plist>